@tailwind base;
@tailwind components;
@tailwind utilities;



.text-gradient{    
    background: linear-gradient(to left, #f8f4fe, #8851f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark-text-gradient{    
    background: linear-gradient(to left, #8851f7, #30185e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}